* {
  margin: 0 auto;
}
div {
  width: 970px;
}
#header {
  display: flex;
  flex-flow: row nowrap;
  background-color: darkolivegreen;
  justify-content: center;
}
#container {
  background-color: rgb(186, 26, 26);
}
